// 全局配置CSS变量

// 全局文本,边款主题颜色
$topic-color: #f1f1f1;

// 描述文字的大小
$desc-font-size: 16px;

// 背景颜色的渐变
$bg-linear-gradient-color: linear-gradient(#102d66, #22538c);
$bg-linear-gradient-reversal-color: linear-gradient(#22538c, #102d66 );
